<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <table align="center">
            <thead align="center">
                <tr>
                    <th colspan="2">
                        Login
                    </th>
                </tr>
            </thead>
            <tbody align="center">
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Login">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a routerLink="/register">
                            New user?
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
